<ng-container *ngIf="show">
  <div class="mfp-container mfp-inline-holder">
    <div class="mfp-content">
      <div id="small-dialog" class="mfp-show">
        <h3>Login</h3>
        <div class="social-sits">
          <div class="facebook-button">
            <a href="#">Connect with Facebook</a>
          </div>
          <div class="chrome-button">
            <a href="#">Connect with Google</a>
          </div>
          <div class="button-bottom">
            <p>New account? <a routerLink="/signup" class="play-icon popup-with-zoom-anim">Signup</a></p>
          </div>
        </div>
        <div class="signup">
          <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="email_mobile" class="email" placeholder="Enter email / mobile"/>
            <input type="password" formControlName="password" placeholder="Password" title="Minimum 6 characters required" required/>
            <button type="submit" [disabled]="!signinForm.valid" class="btn btn-primary">LOGIN</button>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
          <div class="forgot">
            <a href="#">Forgot password ?</a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</ng-container>